<h1>New Passphrase</h1>

<form action="/create_passphrase">
  <div>
    <label for="words">words</label><br />
    <input id="words" name="words" type="text" />
  </div>
  <div>
    <label for="security">security</label><br />
    <input id="security" name="security" type="text" />
  </div>
  <div>
    <label for="word_type">word_type</label><br />
    <input id="word_type" name="word_type" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

