<div class="footer-push">
  <h1 style="font-family: Raleway">Quickly pick a passphrase</h1>

  <form action="/passphrases" name="pick_passphrase">
    <div>
      <label for="security">how many words?</label><br />
      <select name="security">
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
    </div>
    <div>
      <input type="submit">
    </div>
  </form>
</div>
