<div class="footer-push" style="padding-top: 80px;">
  <h1 style="font-family: Raleway">Passfree Password Picker</h1>
  
    <!-- Default panel contents -->
    <h3>Here is your Passfreed password:</h3>
  <div class="password-info">
      <label for="password">password:</label><br />
      <%= @password_pages %>
    </div>
    <div>
      <label for="security">security level:</label><br />
      <% if params['security'] == "4" || params['security'] == "5" %>
      <h4>Weak</h4>
      <% elsif params['security'] == "6" || params['security'] == "7" %>
          <h4>Medium</h4>
      <% elsif params['security'] == "8" || params['security'] == "9" || params['security'] == "10" %>
          <h4>Strong</h4>
      <% end %>
    </div>
  <p style="padding-top: 30px">Don't like it? &darr; for options</p>
 </div>

<p><a href="/random_password">Get another password</a></p>
<p><a class="glyphicon glyphicon-repeat">Or refresh the page for another password that is  <%= params['security'] %> characters</a></p>