<div class="footer-push" style="padding-top: 80px;">
  <h1 style="font-family: Raleway">Passle Password Picker</h1>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Here is your Passled password:</div>
    <div>
      <label for="password">password:</label><br />
      <%= @password_pages %>
    </div>
    <div>
      <label for="security">security level:</label><br />
      <% if params['security'] < "6" %>
        <p>Weak</p>
      <% elsif params['security'] > "5" && params['security'] < "8" %>
        <p>Medium</p>
      <% elsif params['security'] > "7" %>
        <p>Strong</p>
      <% end %>
    </div>
  </div>
</div>
<p><a href="/random_password">Get another password</a></p>
<p><a class="glyphicon glyphicon-repeat">Or refresh the page for another password that is  <%= params['security'] %> characters</a></p>