<div class="footer-push">
  <div class="thumbnail col-md-4 col-md-offset-4">
    <h1 style="font-family: Francois One">Pick a password</h1>
    <form action="/random_password" name="pick_password">
      <div>
        <label for="security">How many characters?</label><br />
        <select name="security">
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
        <input type="submit" class="btn btn-primary">
      </div>
    </form>
  </div>
  <div class="password-info thumbnail col-md-4 col-md-offset-4" style="margin-top: -12px;">
    <label for="password">Password:</label>
    <h5><%= @password_pages %></h5>
  </div>
  <div class="thumbnail col-md-4 col-md-offset-4" style="margin-top: -12px;">
      <p><a class="glyphicon glyphicon-repeat"> Refresh for different <%= params['security'] %> character password</a></p>
      <p><a href="/random_passphrase">Or get a passphrase &rarr;</a></p>
   </div>