<div class="footer-push">
  <h1 style="font-family: Raleway">Quickly pick a <select name="generate"><option value="password" selected>password</option><option value="passphrase">passphrase</option></select></h1>

  <form action="/random_password" name="pick_password">
    <div>
      <label for="security">How many characters?</label><br />
      <select name="security">
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
    </div>
    <div>
      <input type="submit">
    </div>
  </form>
  <div class="password-info">
    <label for="password">Password:</label>
      <%= @password_pages %>
    <%= @password_encrypted %>
    </div>
    <div>
      <label for="security">Security Level:</label><br />
      <% if params['security'] == "6" %>
      <h4>Weak</h4>
      <% elsif params['security'] == "7" || params['security'] == "8"  || params['security'] == "9"  %>
          <h4>Medium</h4>
      <% elsif params['security'] == "10"|| params['security'] == "11" || params['security'] == "12" %>
          <h4>Strong</h4>
      <% end %>
    </div>
</div>

<p><a class="glyphicon glyphicon-repeat">Refresh the page for another password that is  <%= params['security'] %> characters long</a></p>
<p><a href="/random_passphrase">Or get a passphrase &rarr;</a></p>