<div class="footer-push">
  <h1 style="font-family: Raleway">Quickly pick a password</h1>

  <form action="/password_pages" name="pick_password">
    <div>
      <label for="security">how many characters?</label><br />
      <select name="security">
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>
    <div>
      <input type="submit">
    </div>
  </form>
</div>

