<div class="footer-push">  
  <div class="container-fluid">
     <h2>What is Passle?</h2>
     <h4 class="text-muted">Passle is simple: stop the hassle over a password. Picking one on the fly shouldn't be hard. That's what Passle is for. Passle is a simple random password generator for any moment when you're stuck with what to put as a password. And the best part? We never, ever store your password. So what are you waiting for? <a href="/random_password">Use Passle today.</a></h4>
  </div>
</div>