<div class="footer-push">  
  <div class="container-fluid">
     <h2>Welcome to Lockfind.</h2>
     <h4 class="text-muted col-md-6 col-md-offset-3">Lockfind's pretty simple: Picking a password shouldn't be hard. Passfree is a simple password(and passphrase soon) generator for when you have no blue clue what to set as a password. And the best part? We never, ever store your password. Or will ever. So go ahead and <a href="/random_password">use Lockfind today. &darr;</a></h4>
  </div>
  <p><a class="btn btn-primary btn-lg" role="button" href="/random_password">Get a password &rarr;</a></p>
  <p>*Note: While Lockfind is great for a spare email account or your gaming profile, it is NOT meant for items like bank accounts or credit card info. No sirree. *</p>
</div>