<div class="container-fluid" style="height: 500px; padding-top: 100px;">
   <h2>Welcome to quick_pick.<h2>
   <h4 class="text-muted">Stop the hassle over a password.</h4>
   <p><a class="btn btn-primary btn-lg" role="button" href="/random_password">Get a password &rarr;</a></p>
</div>